---
layout: default
title: "anonymous mentally challenged art student at an intellectual school"
---

## welcome to my corner of the internet. i need a place to share my thoughts and experiences. here is where they will be.
fair warning regarding content of this blog- may end up being graphic, uncomfortable, controversial, and cringe. this is unfiltered for a reason.

---

### recent posts
<div class="archive">
  {% for post in site.posts %}
    {% assign currDate = post.date | date: "%Y" %}
    {% if currDate != date %}
      <h1 class="archive-year">{{ currDate }}</h1>
      {% assign date = currDate %}
    {% endif %}
    <div class="archive-item">
      <span class="post-date archive-date fs-4">{{ post.date | date: "%B %d, %Y" }}</span>
      <a href="{{ post.url | relative_url }}" class="archive-title fs-4">{{ post.title }}</a>
    </div>
  {% endfor %}
</div>
